@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: "Play", sans-serif;
}

/* .navbar .active {
  color: crimson;
  font-weight: bold;
  border: 1px solid #cac8c8ff;
  border-radius: 20px;
  background: rgb(243, 226, 226);
} */
